<div class="d-flex justify-content-center h-100 align-items-center">
    <mat-card class="example-card col-md-5 col-12">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>User Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="d-flex flex-wrap align-items-center justify-content-around">
                <img mat-card-avatar [src]="user.avatar" [alt]="user.first_name">
                <div class="d-flex flex-column mx-2">
                    <mat-label><b>ID:</b><span class="px-1">{{user.id}}</span></mat-label>
                    <mat-label><b>Full Name:</b><span class="px-1">{{user.first_name}} {{user.last_name}}</span>
                    </mat-label>
                    <mat-label><b>Email:</b><span class="px-1">{{user.email}}</span></mat-label>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" [routerLink]="['/users']">Back</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>